<%- include('header'); %>

<h1>Homepage</h1>

<p>Welcome to the dog house</p>

<ul>
<% dogs.forEach(function(dog) { %>
	<li class="<%= dog.color %>">
		<p>name: <%= dog.name %></p>
		<p>age: <%= dog.age %></p>
		<p>color: <%= dog.color %></p>
		<% if(dog.adopted == true) { %>
			<p>Has been adopted!</p>
		<% } %>
	</li>
<% }); %>
</ul>


<%- include('menu'); %>

<%- include('footer'); %>



